<h1 style="margin: -20px 0 20px 0;">
  {{libro.title}}
</h1>
<div class="row">
  <div class="col-sm-6">
    <img src="http://www.andresbernalcoaching.com/Personal/wp-content/uploads/2014/03/el-hombre-en-busca-de-sentido.-portada-libro.jpg" alt="" class="img-thumbnail center-block" width="202">
  </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Tipos</strong>
          <span class="label label-success pull-right" ng-repeat="type in libro.type">
            {{type}}
          </span>
        </li>
        <li class="list-group-item">
          <strong>Precio</strong>
          <span class="pull-right">
           {{libro.price | currency}}
          </span>
        </li>
        <li class="list-group-item">
          <strong>Descripción</strong>
          <p class="pull-right">
            {{libro.description}}
          </p>
        </li>
      </ul>
    </div>
</div>



<!-- comments -->

<div>
  <button ng-hide="show" ng-click="toggle()" class="btn btn-primary">Mostrar comentarios <span class="badge">{{comments.length}}</span></button>

  <div class="panel panel-primary" ng-show="show">
    <div class="panel-heading">
      <h2 class="panel-title">
        Comentarios <button class="close pull-right" ng-click="toggle()">&times;</button>
      </h2>
    </div>
    <div class="panel-body">
      <form action="" role="form" class="form-vertical">
        <div class="form-group">
          <div class="col-sm-12">
            <textarea ng-model="comment.body" placeholder="¿Que opinas de {{libro.title}}?" class="form-control"></textarea>
          </div>
          <div class="col-sm-12" style="margin-top:10px;">
            <input ng-model="comment.email" ng-disabled="comment.anonymous" type="email" placeholder="Email" class="form-control">
          </div>
          <div class="col-sm-12">
            <label for="anonymous">
              <input ng-model="comment.anonymous" type="checkbox" id="anonymous">
              Anonimo
            </label>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-lg">
              Comentar
            </button>
          </div>
        </div>
      </form>
      <div class="col-sm-12">
      <blockquote>
            <p>
              {{comment.body}}
            </p>
            <footer>
              Comentario de <a ng-if="!comment.anonymous" href="mailto:{{comment.email}}">{{comment.email}}</a> <em ng-if="comment.anonymous">Anónimo</em> en <span> {{comment.date}}</span>
            </footer>
          </blockquote>
      </div>
    </div>
  </div>
</div>

 <!-- /comments -->
